* {
    box-sizing: border-box;
    margin: 0px;

}
body {
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-rows: 110px 300px 210px 60px;
    margin: 0 auto;
    background-color: #eff0f2;
    height: 880px;
    position: relative;
    justify-items: center;
    align-items: center;
}

.inner {
    border: 3px solid black;
    padding: 3px;
    justify-self: flex-end;
    justify-self: left;
    margin: 0 150px 0 150px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 1em 1em #505050;
    color: #505050;
}

.bg {
    background-color:#b2f2ee;
    padding: 3px;
}

.btn {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    border: 1px solid black;
    padding: 15px 40px 15px 40px;
    font-weight: 500;
}
